@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<p>Es un proyecto para practicar el uso del patron de diseno MVC (Model-View-Controller).</p>
